# common
node_modules

# client
# See http://help.github.com/ignore-files/ for more about ignoring files.
client/dist
client/tmp
client/out-tsc
client/dist-server
client/static
client/server.js
client/server.js.map
client/prerender.js

# server
server/API_DOC.md
server/build

# v2
v2/.next
