//- @params verifyHref: href for /api/user/verify API

div(style="text-align: center; margin: 100px auto;")
	div Вы зарегистрировались на тестовом сервере Apple Pie🥧!
	div
		a(href=`${verifyHref}`) По этой ссылке 
		|подтвердите свою почту или иди отсоси у Михайленка.
	br
	div(style="font-size: .7rem;") С уважением, команда разработчиков
