//- @params verifyHref: href for /api/auth/verify API

div
    a(href=`${verifyHref}`) По этой ссылке 
    | подтверди свою почту или иди отсоси у Михайленка.
    br
    div С уважением, команда разработчиков Apple Pie
