<div *ngIf="form">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="on">
    <div class="form-control">
      <label for="name">
        name
        <span class="">* </span>
      </label>
      <input type="string" formControlName="name" id="name" />
      <!--<span class="validation error"></span>-->
    </div>
    <div class="form-control">
      <label for="password">
        password
        <span class="">* </span>
      </label>
      <input
        type="string"
        formControlName="password"
        id="password"
      />
      <!--<span class="validation error"></span>-->
    </div>
    <div class="form-control">
      <label for="email">
        email
        <span class="">* </span>
      </label>
      <input
        type="string"
        formControlName="email"
        id="email"
      />
      <!--<span class="validation error"></span>-->
    </div>
    <div class="form-control">
      <label for="role">
        role
        <span class="">* </span>
      </label>
      <input
        type="string"
        formControlName="role"
        id="role"
      />
      <!--<span class="validation error"></span>-->
    </div>
    <div class="">
      <button type="submit" [disabled]="form.invalid">{{ button | translate }}</button>
    </div>
  </form>
</div>
